
$lineSolid: 0.125;
$contrast: 0;
$red: 255;
$light: 255;
$dark: floor($light * (1 - $contrast));

.board, .chessContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  max-width: 1000px;
  max-height: 1000px;
}

.row {
  flex-basis: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 12.5%;
}

.tile {
  flex-grow: 1;
  flex-shrink: 1;
  border: 1px solid rgba(0,0,0, $lineSolid);
  justify-content: space-between;
  position: relative;
  background-color: rgb($light,$light, $light);
  > * {
    position: relative;
  }
}

.id {
  position: absolute;
  left: 0;
  top: 0;
}

.tile__odd {
  background-color: rgb($light,$light, $light);
}

.chessContainer {
  width: 90vmin;
  height: 90vmin;
  flex-grow: 1
}

.piece, .influence, .hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  backgroundPosition: center center;
}

.influence {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.influence__inner{
  flex-grow: 0;
  flex-basis: 15%;
  flex-shrink: 0;
  display: flex;
flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.influence__inner_black {
  align-items: flex-start;
}

.influence__inner_mid{
  flex-grow: 1;
}

.piece, .influence__black {
  left: 0;
  top: 0
}

.influence__white {
  left: 0;
  bottom: 0
}

.influence__pip {
  height: 20px;
  flex-basis: 30px;
  flex-shrink: 1;
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
}
